input.ng-invalid.ng-touched {
    border: 1px solid red;
  }

.row{
  margin-top: 10px;;
}
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

// input,
// label {
//   margin: .4rem 0;
// }
