<div class="col-12" style="padding-left: 0%;" >
    <!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <!--First slide-->
    <mdb-carousel-item>
        <div class="view w-100 overlay zoom">
            <img class="d-block w-100" src="../../assets/hotel10.png"
                 alt="Third slide"alt="zoom">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
          </div>
          <div class="carousel-caption" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 15px; opacity: 70%;">
            <h3 class="h3-responsive ">The Most Memorable Rest Time Starts Here</h3>
            <p>Check into another plane of existence</p>
          </div>
    </mdb-carousel-item>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-carousel-item>
      <div class="view w-100 overlay zoom">
        <img class="d-block w-100" src="../../assets/hotel12.png"
             alt="Second slide" alt="zoom">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption " style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 15px; opacity: 70%;">
        <h3 class="h3-responsive text-dark ">We Give You A Legendary Welcome, Every Time You Come Back.</h3>
        <p class="text-dark">Come, stay and enjoy your day</p>
      </div>
    </mdb-carousel-item>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-carousel-item>
      <div class="view w-100 overlay zoom">
        <img class="d-block w-100" src="../../assets/hotel11.png"
             alt="Third slide" alt="zoom">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption " style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px;opacity: 90%;" >
        <h3 class="h3-responsive text-muted ">The Best Place To Be</h3>
        <p class="text-dark ">Make the ordinary, extraordinary</p>
      </div>
    </mdb-carousel-item>
    <!--/Third slide-->
  </mdb-carousel>
  <!--/.Carousel Wrapper-->
</div>