<mdb-card  class="   z-depth-5" style="height: 100%;border-radius: 0pt;margin-top: 15%;margin-left: 18%;">
  
    <mdb-card-body class="hoverable">
      <div class="row" style="margin-bottom: 20%;">
        
        <p class="brand "><img src="../../assets/wiprologo.png" style="max-height: 70px;padding-left: 30px;"></p>
        <p class="navbar-brand " style="margin-left: 10px;margin-top: 5%;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"> Room Reservation</p>
      
      </div>
      <hr>
      <div class="list-group-item " 
      style="text-align: center;border: none;margin-top: 10%;margin-bottom: 10%;cursor: pointer;"
      (click)="ondnac()" >
      <h6 >Deluxe Non-AC</h6>
      </div>
      <hr>
      <div class="list-group-item" 
      style="text-align: center;border: none;margin-top: 10%;margin-bottom: 10%;cursor: pointer;"
      (click)="ondac()">
        <h6 >Deluxe AC</h6>
      </div>
      <hr>
      <div class="list-group-item " 
      style="text-align: center;border: none;margin-top: 10%;margin-bottom: 10%;cursor: pointer;"
      (click)="onps()">
        <h6 >Premier Suite</h6>
      </div>
      <hr>
      <div class="list-group-item " 
      style="text-align: center;border: none;margin-top: 20%;margin-bottom: 2%;">
      </div>
      
    </mdb-card-body>
  </mdb-card>
  